
<main class="container">

  <div class="pull-right">
    <p><a class="btn btn-info" ng-click="$ctrl.showPostForm()">New Post</a></p>
  </div>

  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <input type="search" class="form-control input-sm search-form" placeholder="Filter" ng-model="filterWord">
    </li>
      <li>
        <div class="dropdown">
          <a class="btn dropdown-toggle" data-toggle="dropdown" type="button">Sort By {{ $ctrl.sortTopicShow }}</a>
          <ul class="dropdown-menu">
            <li><a ng-click="$ctrl.sortBy('Vote_count')">Votes</a><li>
            <li><a ng-click="$ctrl.sortBy('Date')">Date</a></li>
            <li><a ng-click="$ctrl.sortBy('Title')">Title</a></li>
          </ul>
        </div>
      </li>
  </ul>

  <div class="row" ng-if="$ctrl.showForm">
    <div class="col-md-8">

    <post-form ng-if="$ctrl.showForm" submitnewpost="$ctrl.submitnewpost(post)" post="$ctrl.post"></post-form>
{{$ctrl.post}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div ng-repeat="post in $ctrl.posts | filter:filterWord | orderBy:$ctrl.sortTopic:true"   ng-init="$ctrl.makeComments(post)" ng-submit="$ctrl.sortCards()">
        <single-post post="post"></single-post>
      </div>
    </div>
  </div>
</main>
