<div class="well">
  <div class="media-left">
    <img class="media-object" ng-src="{{ $ctrl.post.image_url}}">
    <a ui-sref="editPost({id: $ctrl.post.id})">edit</a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      {{ $ctrl.post.title }}
      |
      <a><i class="glyphicon glyphicon-arrow-up" ng-click="$ctrl.votesUp(post)"></i></a>
      <a><i class="glyphicon glyphicon-arrow-down" ng-click="$ctrl.votesDown(post)"></i></a>
      {{ $ctrl.post.vote_count }}
    </h4>
    <div class="text-right">
      {{ $ctrl.post.author }}
    </div>
    <p>
      {{ $ctrl.post.body }}
    </p>
    <div>
      {{ $ctrl.post.created_at | date:'short'}}
      <!-- <time ng-time-ago:""></time> -->
      |
      <i class="glyphicon glyphicon-comment"></i>


      <a ng-click="$ctrl.showComForm($ctrl.post)">
        <ng-pluralize
          count="$ctrl.post.comments.length || 0"
          when="{'0': '0 Comments', 'one': '1 Comment', 'other': '{} Comments'}">
        </ng-pluralize>
      </a>

    </div>
      <post-comments ng-if="$ctrl.post.showComment" post="$ctrl.post"></post-comments>
  </div>
</div>
