
<main class="container">

  <div class="pull-right">
    <p><a class="btn btn-info" ng-click="$ctrl.showPostForm()">New Post</a></p>
  </div>

  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <input type="search" class="form-control input-sm search-form" placeholder="Filter" ng-model="filterWord">
    </li>
      <li>
        <div class="dropdown">
          <a class="btn dropdown-toggle" data-toggle="dropdown" type="button">Sort By {{ $ctrl.sortTopicShow }}</a>
          <ul class="dropdown-menu">
            <li><a ng-click="$ctrl.sortBy('Vote_count')">Votes</a><li>
            <li><a ng-click="$ctrl.sortBy('Date')">Date</a></li>
            <li><a ng-click="$ctrl.sortBy('Title')">Title</a></li>
          </ul>
        </div>
      </li>
  </ul>

  <div class="row" ng-if="$ctrl.showForm">
    <div class="col-md-8">

      <form name="submitPost" ng-submit="$ctrl.submitPost()">
        <div>
          <label for="title">Title</label>
          <input id="title" class="form-control" ng-model="$ctrl.post.title" required>
        </div>
        <div>
          <label for="body">Body</label>
          <textarea id="body" class="form-control" ng-model="$ctrl.post.body" required></textarea>
        </div>
        <div>
          <label for="author">Author</label>
          <input id="author" class="form-control" ng-model="$ctrl.post.author" required>
        </div>
        <div>
          <label for="image-url">Image URL</label>
          <input id="image-url" class="form-control"
          ng-model="$ctrl.post.image_url" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="submitPost.$invalid">
            Create Post
          </button>
        </div>
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="well" ng-repeat="post in $ctrl.posts | filter:filterWord | orderBy:$ctrl.sortTopic:true" ng-init="$ctrl.makeComments(post)" ng-submit="$ctrl.sortCards()">
        <div class="media-left">
          <img class="media-object" ng-src="{{post.image_url}}">
          <a ui-sref="editPost({id: post.id})">edit</a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            {{ post.title }}
            |
            <a><i class="glyphicon glyphicon-arrow-up" ng-click="$ctrl.votesUp(post)"></i></a>
            <a><i class="glyphicon glyphicon-arrow-down" ng-click="$ctrl.votesDown(post)"></i></a>
            {{ post.vote_count }}
          </h4>
          <div class="text-right">
            {{ post.author }}
          </div>
          <p>
            {{ post.body }}
          </p>
          <div>
            {{ post.created_at | date:'short'}}
            <!-- <time ng-time-ago:""></time> -->
            |
            <i class="glyphicon glyphicon-comment"></i>


            <a ng-click="$ctrl.showComForm(post)">
              <ng-pluralize
                count="post.comments.length || 0"
                when="{'0': '0 Comments', 'one': '1 Comment', 'other': '{} Comments'}">
              </ng-pluralize>
            </a>

          </div>

          <div class="row" ng-if="post.showComment">
            <div class="col-md-offset-1">
              <hr>
              <p ng-repeat="comment in post.comments">
                {{ comment.content }}
              </p>
              <form class="form-inline" name="submitCom" ng-submit="$ctrl.submitCom(post)">
                <div class="form-group">
                  <input class="form-control" ng-model="post.comment" required>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary" ng-disabled="submitCom.$invalid">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
